/*  Formatação do modal para criar uma nova tarefa*/

.new-task-container {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
    background-color: #fff; 
    padding: 20px; 
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border-radius: 15px;
    
}


